<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="example-config">
    <!-- properties, die in dieser Datei verwendet werden -->
    <Properties>
        <!-- Alle Log-Daateien werden im Directory /logs gespeichert -->
        <Property name="LOG_DIR">$/logs</Property>
        <Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
    </Properties>

    <Appenders>
        <!-- Standard-Output ist Console -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

    </Appenders>
    <Loggers>
        <!-- Auf Rool-Level wird INFO-logs auf Standard-Output geleitet -->
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
        
        <!-- Signalsuche ausschalten durch fehlendes AppenderRef -->
        <Logger name="signal.Signalsuche" level="INFO" additivity="false">
        </Logger>
        
        <Logger name="depot.Depot" level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
    </Loggers>
</Configuration>